body {
	font-family: 'Roboto', sans-serif;
	color: purple;
}

h1 {
	font-size: 3rem;
}
h4 {
	font-size: 2rem;
	font-weight: normal;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 2rem;
}

div {
	border: 0.5px solid yellow;
}
.compound, .body {
	position: relative;
}
.purpleDot {
	position: absolute;
	width: 6%;
}
.purpleDot:hover {
	cursor: pointer;
	width: 7%;
}
#close {
	background-color:#ffd64f;
	border: none;
	color: white;
	font-weight: bold;
	padding: 10px;
}
.w3-modal-content {
	padding-top: 50px;
}
#purple1 {
	top: 15.2%;
	left: 78%;
}
#purple2 {
	top: 40.7%;
	left: 48.5%;
}
#purple3 {
	top: 42.2%;
	left: 88.5%;
}
#purple4 {
	top: 53.7%;
	left: 63.5%;
}
#purple5 {
	top: 80.2%;
	left: 50.5%;
}
#purple6 {
	top: 82.2%;
	left: 23%;
}
.orangeDot {
	width: 6%;
	position: absolute;
}
.orangeDot:hover {
	cursor: pointer;
	width: 7%;
}
#orange1 {
	top: 11%;
	left: 50%;
}
#orange2 {
	top: 17%;
	left:46%;
}
#orange3 {
	top: 25%;
	left: 48.5%;
}
#orange4 {
	top: 35%;
	left: 48.5%;
}
#orange5 {
	top: 40%;
	left: 55%;
}
#orange6 {
	top: 48%;
	left: 37%;
}
#orange7 {
	top: 62%;
	left: 48.5%;
}
#orange8 {
	top: 82%;
	left: 48.5%;
}